<div class="row">
  <ng-template ngFor let-field [ngForOf]="fields" let-i="index">
    <div class='inline-block col-xs-6' *ngIf="!field.hide">
      <div class="col-xs-6 text-right">
        <app-label [label]="field.description"></app-label>
      </div>
      <div class="col-xs-6">
        <app-form-element [(value)]="data[field.field]" [field]="field" (outputEvent)="data[field.field] = $event">
        </app-form-element>
      </div>
    </div>
  </ng-template>
</div>

<!-- <pre><h6>Form level</h6>{{data | json}}</pre> -->