<div [ngSwitch]="field.element">
  <span *ngSwitchCase="'number'">
    <app-value [(value)]="value" (outputEvents)="onValueChange($event)"></app-value>
  </span>
  <span *ngSwitchCase="'date'">
    <app-date [(value)]="value" (outputEvents)="onValueChange($event)"></app-date>
  </span>
  <span *ngSwitchCase="'dropdown'">
    <app-dropdown [(value)]="value" [options]="field.options" (outputEvents)="onValueChange($event)"></app-dropdown>
  </span>
  <span *ngSwitchCase="'image'">
    <img />
  </span>
  <span *ngSwitchDefault>
    <app-text [(value)]="value" (outputEvents)="onValueChange($event)"></app-text>
  </span>
</div>